//Varibales

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan-1: hsl(186, 14%, 43%);
$dark-grayish-cyan-2: hsl(184, 14%, 56%);
$light-grayish-cyan-1: hsl(185, 41%, 84%);
$light-grayish-cyan-2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$btn-hover: rgb(159, 232, 223);

@import "general";
@import "calculator";
@import "media_1440";